@import './variables.scss';

.header__container {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .logo {
    height: 80%;
  }
  .account {
    color: $white;
    font-size: 20px;
  }
  .info-user {
    color: $white;
    font-size: 15px;
    &-name {
      margin-right: 20px;
    }
  }
}