.auth-container {
  min-height: 100vh !important;
  width: 100%;
  padding-top: 50px;
  .logo {
    width: 100%;
  }
  .auth-title {
    text-align: center;
  }
  .register-link, .login-link {
    text-align: center;
    margin-top: 10px;
  }
}
